#navbars{
    display:block;
    color: red;
}
#head{
    color:burlywood;
  text-shadow: 0px 2px 2px red,0px 2px 2px red,0px 4px 8px black;
  font-family:Arial, Helvetica, sans-serif;
}
#icon{
    color:orange;
}
